<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <getTestToRun>
        <processor patch:instead="*[@type='Sitecore.ContentTesting.Pipelines.GetTestToRun.EnsurePageTest, Sitecore.ContentTesting']" type="Sitecore.Support.ContentTesting.Pipelines.GetTestToRun.EnsurePageTest, Sitecore.Support.289668" resolve="true" />
      </getTestToRun>
    </pipelines>
  </sitecore>
</configuration>